@model Amigafa.Models.ContagemTotal

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ContagemTotal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventoEncontroVeterano)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventoEncontroVeterano)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventoChurrascoVeterano)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventoChurrascoVeterano)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventoCompletoVeterano)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventoCompletoVeterano)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventoEncontroConvidado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventoEncontroConvidado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventoChurrascoConvidado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventoChurrascoConvidado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventoCompletoConvidado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventoCompletoConvidado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CamisetaP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CamisetaP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CamisetaM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CamisetaM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CamisetaG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CamisetaG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CamisetaGG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CamisetaGG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CamisetaXG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CamisetaXG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CamisetaXGG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CamisetaXGG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bone)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
