@model IEnumerable<Amigafa.Models.Militar_Evento>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Camiseta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventoEncontro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventoChurrasco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventoCompleto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventoVinho)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Camiseta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventoEncontro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventoChurrasco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventoCompleto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventoVinho)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Militar_Cpf }) |
            @Html.ActionLink("Details", "Details", new { id=item.Militar_Cpf }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Militar_Cpf })
        </td>
    </tr>
}

</table>
